body {
    text-align: center;
    margin-top: 20%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #34aedb;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

button.red {
    background-color: red;
}
